#loginTabHeader {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background-color: #3282b8;

  border: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  
  height: 35px;
  width: 100%;
}

.login-tab {
  display: flex;
}

.login-tab:hover {
  color: white;
}

.login-tab p {
  font-size: 110%;
  font-weight: bold;

  margin: auto auto;
}

.active-tab {
  font-size: 125%;
  color: white;
}
