#loginTabHeader {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background-color: #3282b8;

  border-bottom: solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  
  height: 45px;
  width: 100%;
}

.login-tab {
  display: flex;
  font-weight: bold;

  width: 100%;
  height: 100%;
}
.login-tab div {
  margin: auto auto;
}

.active-tab {
  font-size: 125%;
  color: white;
}
.active-tab:hover {
  cursor: default;
}

.inactive-tab div {
  font-size: 110%;
}
.inactive-tab:hover {
  color: white;
  font-size: 125%;
  cursor: pointer;

  transition: font-size 0.5s;
}
